    .Categories
    {
      display: flex;
      justify-content: space-evenly;
      
    }
    img
    {
      height: 500px;
      width: 500px;
    }

    p
    {
      color: black;
      font-size: x-large;
      display: flex;
      justify-content: center;
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
    .top
    {
      flex: 1;
      background-color: rgb(250, 171, 106);
      display: flex;
      gap: 50px;
      justify-content: center;
      padding: 10px;
    }

    .bottom
    {
      flex: 1;
      background-color: aqua;
      display: flex;
      gap: 20px;
      justify-content: center;
      padding: 10px; 
      font-size: x-large;  
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;   
    }
    .myFoot
    {
      display: flex;
      flex-direction: column;
      margin: 0;
      padding: 0;
    }
    .icon
    {
      height: 25px;
      width: 25px;
    }
    
    h1
    {
      font-size: xx-large;  
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;      
      display: flex;
      justify-content: center;  
      padding: 30px; 
    }
    input
    {
      height: 25px;
      width: 750px;
    }

    button
    {
      height: 30px;
      width: 75px;
    }
    h3
    {
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;  
      display: flex;
      justify-content: left;    
    }

    .item:hover
    {
      background-color: rgb(250, 171, 106);
      padding: 5px;
    }
    .item:hover
    {
      padding: 5px;
    }
    a
    {
            color: black;       /* normal link color */
            text-decoration: none; /* remove underline if you want */
            font-size: xx-large;
    }
    .links:hover
    {
      background-color: rgb(250, 171, 106);
      
      border-radius: 5px;
    }


/* CSS For the for the body of theTextbook html */
            .Textbooks
        {
            display: flex;
            
            border: 1px solid black;
            padding: 20px;
            align-items: center;
        }
        .textbookMainSection
        {
            display: flex;
            justify-content: space-around;
            
        }

/*CSS for the explore body  */        
      aside
      {
        width: 12%;
        min-height: 100vh;
        float: left;
        background-color: aquamarine; 
        
        font-size: larger; 
      }
      main
      {
        width: 100%;
        height: 100vh;
        
      }
      .MainBody
      {
        display: flex;
        justify-content: center;
        padding: 20px;
        width: 100%;
        height: 800px;
      }
      .forIframe
      {
        padding: 20px;
      }
      .myLinks
      {
        display: flex;
        justify-content: center;
      }
      
      .exploreH2
      {
        display: flex;
        justify-content: center;
      }

      select, label
      {
        font-size: large;
      }

      section
      {
        padding: 5px;
      }

      .frame2
      {
        display: flex;
        justify-self: center;
      }

/* THis is for Sign IN */
        .myBox{
            display: flex;
            width: 100%;
            height: 100vh;

        }
        .left, .right
        {
            flex: 1;  /* both take half of this page*/
            padding: 20px;
        }

        .left
        {
            background-color: white;
            font-size: 50px;
            
        }

        .right
        {
            background-image: url("hello.jpg");
            background-size: cover;
        }
        .mainText
        {
          font-size: 50px;
          display: flex;
          font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
          color: #ffaa50;
          
          display: flex;
          justify-content: center;            
        }

        .detailSection
        {
            display: flex;
            justify-self: center;
            font-size: 30px;

        }


        .selection
        {
            font-size: x-large;
        }
        button
        {
            font-size: x-large;
        }
        input
        {
            width: 80%;
            height: 10%;
        }